In [10]:
#Importing the dependencies - which are going to be required during training and testing phase
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import gradio as gr

In [11]:
credit_cards_data = pd.read_csv('C:/Users/Admin/Downloads/creditcard.csv')

In [12]:
# This will display the last 5 data rows
credit_cards_data.head()

# Label 0 represents that the transaction is the legit one
# Label 1 represents that the transaction is the fraud one

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [13]:
# This will display the last 5 data rows
credit_cards_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [14]:
# As we don't have the null values in the data, which is good.
# But, in-case we got the null values, we can handle it by many ways.
# df.isnull().sum() - This will print the total of nullvalues present into the column
# df.dropna(inplace=True) - This will drop the row having nuLl values
# df.dropna(axis=1,inplace=True) - This will drop the column having nuLl values

In [15]:
credit_cards_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [16]:
# To show the distribution of the classes as per legit & fraudalent
credit_cards_data['Class'].value_counts()
# 0 - shows legit transactions
# 1 - shows fraud transactions

Class
0    284315
1       492
Name: count, dtype: int64

In [17]:
# As you can see this dataset is highly disbalanced - like it's totally one-sided

In [18]:
# Separating the data for better analysis
legit = credit_cards_data[credit_cards_data.Class == 0]
fraud = credit_cards_data[credit_cards_data.Class == 1]

In [19]:
credit_cards_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [20]:
# (Rows, Columns) - means that there are 284315 rows & 31 ccolumns
print(legit.shape)
# (Rows, Columns) - means that there are 492 rows & 31 ccolumns
print(fraud.shape)

(284315, 31)
(492, 31)

In [21]:
# So, as now the legit & fraud dataset is separated
# Now we are going to check their mean, deviation and some other stuff

In [22]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [23]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [24]:
credit_cards_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
# Problem:
# The mean of both classes have too much variance and if we observe the data keenly, we will get to know that the data of
# legit transactions as compare to the data of fraudalent transactions is much higher.
# Which makes this data highly un-balanced

# Solution for it:
# We will now collect a sample of legit transactions from the legit dataset, which will be 492
# And will concatenate it with the data of fraudalent transactions which is also 492

In [26]:
legit_sample = legit.sample(n=492)

In [27]:
legit_sample.shape

(492, 31)

In [28]:
new_credit_cards_data = pd.concat([legit_sample, fraud], axis=0)

In [29]:
print(new_credit_cards_data.head())

            Time        V1        V2        V3        V4        V5        V6  \
145137   86670.0  1.645973 -0.374303  0.148563  3.479500 -0.197716  1.555883
232758  147292.0 -0.301941  1.360990 -0.961422 -0.445504  1.731054 -0.480427
21130    31488.0  1.134377  0.210115  0.237155  1.113698 -0.377106 -0.524419
139609   83250.0 -1.199896 -0.799667  0.327498 -1.302391 -0.853653  1.419526
185768  126815.0  1.877983 -0.569684  0.120554  1.079120 -0.666090  0.935123

              V7        V8        V9  ...       V21       V22       V23  \
145137 -0.956961  0.478610 -0.169943  ...  0.272079  0.475440 -0.009647
232758  1.177820 -0.112930 -0.134919  ... -0.004023  0.359699 -0.427705
21130  -0.151126  0.020708  0.571137  ... -0.131963 -0.106671 -0.024888
139609  1.373115 -0.045070 -1.239605  ... -0.321296  0.354990  0.749041
185768 -1.296037  0.516589  1.373670  ...  0.267017  0.814650  0.178231

             V24       V25       V26       V27       V28  Amount  Class
145137 -1.438993 -0.436654  0.011760  0.010074 -0.019926  131.59      0
232758 -0.083935  0.130956  0.684306  0.374399  0.278584   12.31      0
21130   0.337898  0.429162  0.421150  0.017999  0.042798   12.31      0
139609 -0.542350 -0.957507  1.443414  0.218433 -0.031873  319.56      0
185768  0.162862 -0.325291 -0.604888  0.079065 -0.025563   16.91      0

[5 rows x 31 columns]

In [30]:
print(new_credit_cards_data.tail())

            Time        V1        V2        V3        V4        V5        V6  \
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V21       V22       V23  \
279863 -0.882850  0.697211 -2.064945  ...  0.778584 -0.319189  0.639419
280143 -1.413170  0.248525 -1.127396  ...  0.370612  0.028234 -0.145640
280149 -2.234739  1.210158 -0.652250  ...  0.751826  0.834108  0.190944
281144 -2.208002  1.058733 -1.632333  ...  0.583276 -0.269209 -0.456108
281674  0.223050 -0.068384  0.577829  ... -0.164350 -0.295135 -0.072173

             V24       V25       V26       V27       V28  Amount  Class
279863 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00      1
280143 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76      1
280149  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89      1
281144 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00      1
281674 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53      1

[5 rows x 31 columns]

In [31]:
new_credit_cards_data.shape

(984, 31)

In [32]:
new_credit_cards_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [33]:
# If we notice that in this case, we still got the bad sample data unfortunately
new_credit_cards_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93929.119919,-0.052715,0.046900,0.058614,0.017364,-0.057859,0.106655,0.038361,-0.046844,-0.014525,...,-0.019845,0.066028,-0.030666,-0.036495,-0.017853,-0.022618,-0.002845,-0.007293,-0.010720,106.659858
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [34]:
# Splitting the dataset into features and targets
# X is going to store the features - like V1, V2, V3 ...
# Y is going to store the targets - like Class

In [35]:
X = new_credit_cards_data.drop(columns='Class',axis=1)
Y = new_credit_cards_data['Class']

In [36]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
145137   86670.0  1.645973 -0.374303  0.148563  3.479500 -0.197716  1.555883
232758  147292.0 -0.301941  1.360990 -0.961422 -0.445504  1.731054 -0.480427
21130    31488.0  1.134377  0.210115  0.237155  1.113698 -0.377106 -0.524419
139609   83250.0 -1.199896 -0.799667  0.327498 -1.302391 -0.853653  1.419526
185768  126815.0  1.877983 -0.569684  0.120554  1.079120 -0.666090  0.935123
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
145137 -0.956961  0.478610 -0.169943  ...  0.015533  0.272079  0.475440
232758  1.177820 -0.112930 -0.134919  ...  0.203092 -0.004023  0.359699
21130  -0.151126  0.020708  0.571137  ... -0.119888 -0.131963 -0.106671
139609  1.373115 -0.045070 -1.239605  ... -0.997967 -0.321296  0.354990
185768 -1.296037  0.516589  1.373670  ... -0.256245  0.267017  0.814650
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
145137 -0.009647 -1.438993 -0.436654  0.011760  0.010074 -0.019926  131.59
232758 -0.427705 -0.083935  0.130956  0.684306  0.374399  0.278584   12.31
21130  -0.024888  0.337898  0.429162  0.421150  0.017999  0.042798   12.31
139609  0.749041 -0.542350 -0.957507  1.443414  0.218433 -0.031873  319.56
185768  0.178231  0.162862 -0.325291 -0.604888  0.079065 -0.025563   16.91
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [37]:
print(Y)

145137    0
232758    0
21130     0
139609    0
185768    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [38]:
# Splitting the data into training data and testing data
# We are splitting the data as 20% for testing and 80% forr training
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2, stratify=Y)
# The stratify=y ensures the class distribution remains the same across both sets.
# This is the seed used by the random number generator. Setting random_state ensures that the data is split in a reproducible way.

In [39]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [40]:
# Model Training
model = LogisticRegression(max_iter=500)

In [41]:
# Training the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression(max_iter=500)

In [42]:
# Evaluating the performance of the model as per accuracy score
X_train_prediction = model.predict(X_train)

In [43]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [44]:
print('Checking Accuracy Score on the training data: ',training_data_accuracy)

Checking Accuracy Score on the training data:  0.9466327827191868

In [45]:
# Accuracy On test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [46]:
print('Checking the accuracy score on the test data: ',test_data_accuracy)

Checking the accuracy score on the test data:  0.9238578680203046

In [47]:
# Define a prediction function
def predict_fraud(transaction_data):
    # Convert input string to a numpy array
    input_data = np.array([float(i) for i in transaction_data.split(',')], dtype=float)
    
    # Reshape to 2D array (1 sample, n features)
    input_data = input_data.reshape(1, -1)
    
    # Make a prediction
    prediction = model.predict(input_data)
    
    # Return the result
    return "LEGIT" if prediction[0] == 0 else "FRAUD"

In [48]:
# Create the Gradio interface
interface = gr.Interface(
    fn=predict_fraud,
    inputs=gr.Textbox(
        label="Enter transaction data (comma-separated values)",
        placeholder="Example: 100.0, 200.0, 50.0, ..."
    ),
    outputs=gr.Textbox(label="Transaction Status"),
    title="Credit Card Fraud Detector",
    description="Enter transaction details to predict if it is LEGIT or FRAUD."
)

In [49]:
# Launch the Gradio app
interface.launch()

* Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(